<html>
<head>
    <style>
        body {
            font-family: Verdana;
        }
        .nav {
            text-align: center;
            background: #363636
        }
        .navlist {
            display: inline-block;
            margin: 2em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .links {
            color: antiquewhite;
            font-size: medium;
            text-decoration: none;
            font-weight: inherit;
        }
        h1 {
            color: blue;
        }
        h2 {
            color: dodgerblue;
        }
    </style>

</head>
<body>
<nav class=nav>
    <ul>
        <li class=navlist>
            <a class=links href="index.html">Change profile information</a>
        </li>
        <li class=navlist>
            <a class=links href="delete.html">Delete profile</a>
        </li>
        <li class=navlist>
            <a class=links href="/logout">Logout</a>
        </li>
        <li class=navlist>
            <a class=links href="staff.html">About</a>
        </li>
    </ul>
</nav>

<h1>View all certificates here:</h1>
<% for(var i=0; i<certificates.length; i++){ %>
    <h2><%= i + ". " + certificates[i].name %></h2>
    <p>Issued: <%= certificates[i].issued %></p>
    <p>Exceeds: <%= certificates[i].exceeds %></p>
    <p>Level: <%= certificates[i].level %></p>
    <p>Skillfield: <%= certificates[i].skillfield %></p>
    <p>Issued by: <%= certificates[i].company %></p>
    <p>Contact information: <%= certificates[i].contact %></p>
    <p>Description: <%= certificates[i].description %></p>
    <form action="/downloadcert" method="post">
        <input type="hidden" name="certificate" value=<%- certificates[i].id %> />
        <input type="submit" value="Download">
    </form>
    <br><br>    
<% } %>
</body>

